name: Actions Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --redact
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Docker build
        uses: docker/setup-buildx-action@v3
 
      - name: Docker build image
        uses: docker build -t kkrish7-demo1:latest

      - name: Push the image to DockerHub
        uses: docker push kkrish7-demo1:latest
  